USE [GameStoreDB]
GO
/****** Object:  Table [dbo].[GameGenres]    Script Date: 24.02.2026 20:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameGenres](
	[GameID] [uniqueidentifier] NOT NULL,
	[GenreID] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC,
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 24.02.2026 20:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[GameID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ReleaseDate] [datetime2](7) NULL,
	[Price] [decimal](10, 2) NULL,
	[IsMultiplayer] [bit] NULL,
	[StudioID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 24.02.2026 20:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreID] [uniqueidentifier] NOT NULL,
	[GenreName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 24.02.2026 20:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerID] [uniqueidentifier] NOT NULL,
	[NickName] [nvarchar](50) NOT NULL,
	[Balance] [decimal](15, 2) NULL,
	[RegistrationDate] [datetime2](7) NULL,
	[IsBanned] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Studios]    Script Date: 24.02.2026 20:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studios](
	[studioID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FoundationDate] [datetime2](7) NULL,
	[AnnualRevenue] [decimal](18, 2) NULL,
	[IsIndependent] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[studioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GameGenres] ([GameID], [GenreID]) VALUES (N'7cf6a130-e5d3-4202-b78a-13eb4e7b5234', N'd4cde3aa-2072-4859-8b3c-b23f730b0a3b')
INSERT [dbo].[GameGenres] ([GameID], [GenreID]) VALUES (N'7bfbae8b-77be-400d-ac3a-57318e137b34', N'5ef7b496-9578-43d8-be40-9a765f1d9669')
INSERT [dbo].[GameGenres] ([GameID], [GenreID]) VALUES (N'bc09aea9-d05b-474d-b148-9c0c9d3c7c58', N'ffbf91b4-3940-4259-870f-a286273f19a6')
GO
INSERT [dbo].[Games] ([GameID], [Title], [ReleaseDate], [Price], [IsMultiplayer], [StudioID]) VALUES (N'7cf6a130-e5d3-4202-b78a-13eb4e7b5234', N'Elden Ring', CAST(N'2022-02-25T00:00:00.0000000' AS DateTime2), CAST(3999.00 AS Decimal(10, 2)), 1, N'e113af3a-7ea8-43e9-92f7-7dab25db3644')
INSERT [dbo].[Games] ([GameID], [Title], [ReleaseDate], [Price], [IsMultiplayer], [StudioID]) VALUES (N'7bfbae8b-77be-400d-ac3a-57318e137b34', N'The Witcher 3', CAST(N'2015-05-19T00:00:00.0000000' AS DateTime2), CAST(1200.00 AS Decimal(10, 2)), 0, N'02b468f7-9c0c-4e0b-80e8-ab8ee2848506')
INSERT [dbo].[Games] ([GameID], [Title], [ReleaseDate], [Price], [IsMultiplayer], [StudioID]) VALUES (N'bc09aea9-d05b-474d-b148-9c0c9d3c7c58', N'Hades', CAST(N'2020-09-17T00:00:00.0000000' AS DateTime2), CAST(465.00 AS Decimal(10, 2)), 0, N'05d7146f-c86b-4eb2-ba81-144c377415e0')
GO
INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (N'5ef7b496-9578-43d8-be40-9a765f1d9669', N'RPG')
INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (N'ffbf91b4-3940-4259-870f-a286273f19a6', N'Indie')
INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (N'd4cde3aa-2072-4859-8b3c-b23f730b0a3b', N'Soulslike')
GO
INSERT [dbo].[Players] ([PlayerID], [NickName], [Balance], [RegistrationDate], [IsBanned]) VALUES (N'2c2a6c20-169c-4d1a-a270-55e5b68f2d92', N'NoobMaster', CAST(0.00 AS Decimal(15, 2)), CAST(N'2026-02-24T17:05:50.1533333' AS DateTime2), 0)
INSERT [dbo].[Players] ([PlayerID], [NickName], [Balance], [RegistrationDate], [IsBanned]) VALUES (N'9c3eec19-d722-48be-b679-b845532b8933', N'Geralt_007', CAST(1500.50 AS Decimal(15, 2)), CAST(N'2026-02-24T17:05:50.1533333' AS DateTime2), 0)
INSERT [dbo].[Players] ([PlayerID], [NickName], [Balance], [RegistrationDate], [IsBanned]) VALUES (N'b4f2fe6b-86c1-4d52-b4e8-ea85ec722f1f', N'HardcorePlayer', CAST(5000.00 AS Decimal(15, 2)), CAST(N'2026-02-24T17:05:50.1533333' AS DateTime2), 1)
GO
INSERT [dbo].[Studios] ([studioID], [Name], [FoundationDate], [AnnualRevenue], [IsIndependent]) VALUES (N'05d7146f-c86b-4eb2-ba81-144c377415e0', N'Supergiant Games', CAST(N'2009-09-01T00:00:00.0000000' AS DateTime2), CAST(1000000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Studios] ([studioID], [Name], [FoundationDate], [AnnualRevenue], [IsIndependent]) VALUES (N'e113af3a-7ea8-43e9-92f7-7dab25db3644', N'FromSoftware', CAST(N'1986-11-01T00:00:00.0000000' AS DateTime2), CAST(8000000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Studios] ([studioID], [Name], [FoundationDate], [AnnualRevenue], [IsIndependent]) VALUES (N'02b468f7-9c0c-4e0b-80e8-ab8ee2848506', N'CD Projekt Red', CAST(N'1994-05-01T00:00:00.0000000' AS DateTime2), CAST(5000000.00 AS Decimal(18, 2)), 0)
GO
ALTER TABLE [dbo].[Games] ADD  DEFAULT (newid()) FOR [GameID]
GO
ALTER TABLE [dbo].[Genres] ADD  DEFAULT (newid()) FOR [GenreID]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT (newid()) FOR [PlayerID]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [IsBanned]
GO
ALTER TABLE [dbo].[Studios] ADD  DEFAULT (newid()) FOR [studioID]
GO
ALTER TABLE [dbo].[Studios] ADD  DEFAULT ((1)) FOR [IsIndependent]
GO
ALTER TABLE [dbo].[GameGenres]  WITH CHECK ADD FOREIGN KEY([GameID])
REFERENCES [dbo].[Games] ([GameID])
GO
ALTER TABLE [dbo].[GameGenres]  WITH CHECK ADD FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genres] ([GenreID])
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD FOREIGN KEY([StudioID])
REFERENCES [dbo].[Studios] ([studioID])
GO
